{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Инструкция</h1>
<div class="alert alert-info">
    <p>Данный сайт предназначен для сохранения списка пройденных человеком игр</p>
    <p>Здесь вы можете хранить данные о их названии, год выпуска, и отзыв, в котором можно указывать вcё что угодно, в том и числе и ссылку на скачивание игры</p>
    <p>Если вы поняли, что что-то не так написали, то во вкладке "Игры" можно найти необходимую запись, нажать кнопку "Детальнее" и выбрать "Редактировать"</p>
    <p>Так же на сайте предусмотренно удаление ненужных или неверных записей</p>
    <p>Сайт прост и удобен в использовании, так что каждому пользователю обязательно понравится</p>
</div>
{% endblock %}